<!-- Fork me on GitHub Banner -->
<!-- <a class="github-fork-ribbon right-top" href="https://github.com/cns-iu/hsd" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> -->
<!-- /Fork me on GitHub Banner -->

<mat-toolbar class="toolbar z-depth-1-half">
  <mat-icon class="hamburger" (click)="sidenav.toggle()">menu</mat-icon>
  <span>Health System Dynamics (HSD) Demo</span>
  <img id="cns-logo" src="assets/cns-logo.png" title="Cyberinfrastructure for Network Science Center">
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side"
      [opened] = "true"
      class="sidenav-container"
      (openedChange)="openState=$event">
        <p class="sidenav-title">Legend</p>
        <hr>
        <app-legend #legend></app-legend>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <mat-tab-group [selectedIndex]="0" #tabs>
          <mat-tab label="Sum-Tree">
            <app-sum-tree
              [summaryType]="legend.summaryType"
              [colorField]="legend.colorField"
              [opacityField]="legend.opacityField">
            </app-sum-tree>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
