<div class="main-content">
  <mat-tab-group [selectedIndex]="0">
    <mat-tab label="Home">
      <h1>HSD Demo</h1>
      <br>
      <h2> This is a work in progress!</h2>
      <br>
      Choose a tab to see individual visualizations.
    </mat-tab>
    <mat-tab label="Tree">
      <hsd-simple-tree></hsd-simple-tree>
    </mat-tab>
    <mat-tab label="Sum-Tree">
      <hsd-sum-tree></hsd-sum-tree>
    </mat-tab>
    <mat-tab label="Sum-Tree-v2">
      <hsd-sum-tree-v2></hsd-sum-tree-v2>
    </mat-tab>
    <mat-tab label="Sum-Tree-v3">
      <hsd-sum-tree-v3></hsd-sum-tree-v3>
    </mat-tab>
  </mat-tab-group>
</div>
